body
{
    background-color: gray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
    
}

#maincontent
{
    height: 100%;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


p
{
    padding-top: 20px;
    line-height: 1.5;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 326px;
    height: 100%;
}

.pictureHold
{
    height: 606px;
    position: relative;
}

#first-left-picture
{
    position: absolute;
    width: 45%;
    display: block;
    float: left;
}
#first-right-picture
{
    position: absolute;
    width: 45%;
    display: block;
    left: 500px;
}