body
{
    margin: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
}

p
{
    color: white;
}




.menubar
{
    background-color: black;
    width: 100%;
    height: 50px;
    position: fixed;
    border-bottom-style: solid;
    border-bottom-color: white;
    z-index: 1;
}

.menuoptions
{
    position: relative;
    float: right;
    height: 100%;
    width: 600px;
    
}

  
    #home 
    {
        position: absolute;
        width: 150px;
        height: 20px;
        text-align: center;
        padding: 15px 10px;
    
    }

    #home a:link
    {
        text-decoration: none;
        color: white;
    }

    #home a:visited
    {
        color: white;
    }

    #home:hover
    {
        background-color: gray;
        color: black;
    }
    
    #home a:hover
    {
        color: black;
    }

    #portfolio 
    {
        position: absolute;
        width: 150px;
        height: 20px;
        text-align: center;
        padding: 15px 10px;
        left: 150px;
        
    }

    #portfolio a:link
    {
        text-decoration: none;
        color: white;
    }

    #portfolio a:visited
    {
        color: white;
    }

    #portfolio:hover
    {
        background-color: gray;
    }

    #portfolio a:hover
    {
        color: black;
    }

    #resume 
    {
        position: absolute;
        width: 150px;
        height: 20px;
        color: black;
        text-align: center;
        padding: 15px 10px;
        left: 300px;
        
    }

    #resume a:link
    {
        text-decoration: none;
        color: white;
    }

    #resume a:visited
    {
        color: white;
    }

    #resume:hover
    {
        background-color: gray;
        
    }

    #resume a:hover
    {
        color: black;
    }


    #contact .dropbtn 
    {
        position: absolute;
        width: 150px;
        height: 25px;
        color: white;
        text-align: center;
        padding: 13px 10px;
        left: 450px;
        
    }

    #contact .dropbtn a:link
    {
        text-decoration: none;
        color: white;
    }

    #contact .dropbtn a:visited
    {
        color: white;
    }

    #contact .dropbtn:hover
    {
        background-color: gray;
    }

    #contact .dropbtn a:hover
    {
        color: black;
    }

    #contact .dropdown-content 
    {
        position:absolute;
        display: none;
        width: 150px;
        text-align: center;
        height: 35px;
        background-color: black;
        color: white;
        border: solid white;
        padding-top: 15px;
        left: 450px;
        top: 50px;
    }

    
    #contact .dropdown-content a:link
    {
        text-decoration: none;
        color: white;
    }

    #contact .dropdown-content a:visited
    {
        color: white;
    }

    #contact .dropdown-content:hover
    {
        background-color: gray;
    }

    #contact .dropdown-content a:hover
    {
        color: black
    }
    
    #contact .show
    {
        display: block;
    }
    

    
    
   
