body
{
    margin: 0;
    /*background-image: url("Chris_in_SF.jpg");*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: gray;
}

p
{
    color: white;
}


.menubar
{
    background-color: black;
    width: 100%;
    position: fixed;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.menuoptions
{
    float: right;
    display: table;
    margin: auto;
    z-index: 1;
}

    .menuoptions li
    {
        color: white;
        list-style-type: none;
        float: left;
        overflow: hidden;
        /*border-color: white;
        border-style: solid;
        border-width: 2px;*/
    }

    .menuoptions li a
    {
        text-decoration: none;
        color: white;
        text-align: center;
        display: block;
        padding: 5px 10px;
    }

    .menuoptions a:hover:not(.active)
    {
        background-color: white;
        color: black;
        border-style: solid;
        border-color: black;
    }
    
    .menuoptions .active
    {
        background-color: white;
        color: black;
    }

/*
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    float: right;
}

li
{
    float: left;
}

li a
{
    
    display: block;
    color: white;
    text-decoration: none;
}

*/