body
{
    margin: 0;
    /*background-image: url("Chris_in_SF.jpg");*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: gray;
}

p
{
    color: white;
}




.menubar
{
    background-color: black;
    width: 100%;
    height: 50px;
    position: fixed;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.menuoptions
{
    float: right;
    display: table;
    margin: auto 0;
    height: 100%;
    z-index: 1;
}

    .menuoptions li
    {
        height: 100%;
        list-style-type: none;
        float: left;
        overflow: hidden;
        
        /*border-color: white;
        border-style: solid;
        border-width: 2px;*/
    }

    #home 
    {
        text-align: center;
        padding: 15px 10px;
        background-color: white;
    }

    #home a:link
    {
        text-decoration: none;
        color: black;
    }

    #home a:visited
    {
        color: black;
    }

    #home:hover
    {
        background-color: white;
        color: black;
    }
    
    #home a:hover
    {
        background-color: white;
        color: black;
    }

    #portfolio 
    {
        color: black;
        text-align: center;
        padding: 15px 10px;
        
    }

    #portfolio a:link
    {
        text-decoration: none;
        color: white;
    }

    #portfolio a:visited
    {
        color: white;
    }

    #portfolio:hover
    {
        background-color: white;
        color: black;
    }

    #portfolio a:hover
    {
        background-color: white;
        color: black;
    }

    #resume 
    {
        color: black;
        text-align: center;
        padding: 15px 10px;
        
    }

    #resume a:link
    {
        text-decoration: none;
        color: white;
    }

    #resume a:visited
    {
        color: white;
    }

    #resume:hover
    {
        background-color: white;
        color: black;
    }

    #resume a:hover
    {
        background-color: white;
        color: black;
    }

    #contact 
    {
        color: black;
        text-align: center;
        padding: 15px 10px;
        
    }

    #contact a:link
    {
        text-decoration: none;
        color: white;
    }

    #contact a:visited
    {
        color: white;
    }

    #contact:hover
    {
        background-color: white;
        color: black;
    }

    #contact a:hover
    {
        background-color: white;
        color: black;
    }

    

    
    
   




/*
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    float: right;
}

li
{
    float: left;
}

li a
{
    
    display: block;
    color: white;
    text-decoration: none;
}

*/