

.projectSelection
{
    position: fixed;
    width: 30%;
    height: 100px;
    border: 2px solid white;
    display: block;
}
    .projectSelection:hover
    {
        background-color: black;
    }
    
    .projectSelection p
    {
        text-align: center;
        margin-top: 35px;
    }

#tictactoe
{

    top: 50px;
    
}

#bestline
{
    top: 150px;
}
 

#previewpanel
{
    position: absolute;
    height: 100%;
    width: 70%;
    top: 50px;
    right: 0px; 
    float: right;
}

    #previewpanel p
    {
        color: white;
        top: 500px;
    }

