


#tictactoe
{
    position: absolute;
    width: 50%;
    height: 100px;
    top: 55px;
    border: 2px solid white;
    display: block;
}
    #tictactoe:hover
    {
        background-color: black;
    }
    
    #tictactoe p
    {
        text-align: center;
        margin-top: 35px;
    }

#musicnotes
{
    position: absolute;
    width: 50%;
    height: 100px;
    border: 2px solid white;
    top: 155px;
}
    #musicnotes:hover
    {
        background-color: black;
    }
    
    #musicnotes p
    {
        text-align: center;
        margin-top: 35px;
    }


#previewpanel
{
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0px; 
    float: right;
}

    #previewpanel p
    {
        color: white;
        top: 500px;
    }

